* {
    margin: 0; padding: 0; list-style: none;
}

.middle-container{
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    font-size: 30px;
    font-style: initial;
}
.main-container{
    width: 100%;
    background-color: white;
}
.board-container{
    background-color: silver;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}
.board-wrap{
    margin: 100px 50px 50px 50px;/*top left bottom right*/
    overflow: hidden;
}
.board-box{
    width:50%;
    float:left;
}
.board-info {
    float: left;
    text-align: center;
    border-bottom:solid 1px gray; margin-bottom: 20px;position: center;
}

/* 게시판 레이아웃 */
.title{width:500px; }
.date{width:100px; }
.writer {width:200px; }
