* {
    margin: 0; padding: 0;
}
.middle-container{
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    font-size: 30px;
    font-style: initial;
}
.main-container{
    width: 100%;
    background-color: white;
}
.board-container{
    background-color: silver;
    margin-left: 50px;
    margin-right: 50px;
    padding: 10px;
}
.board-wrap{
    height: 900px;
    margin-left:50px;
    margin-right: 50px;
    margin-top:100px;
    margin-bottom: 50px;
}
.gameBoard-container{
    width:50%;height:50%;
    float:left;
}
.broadcastBoard-container{
    width:50%;height:50%;
    clear:right;float:right;
}
.lifeBoard-container{
    width:50%;height:50%;
    float:left;
}
.etcBoard-container{
    width:50%;height:50%;
    clear:right;float:left;
}
.fl {float:left; }
.tc {text-align:center; }

/* 게시판 레이아웃 */
.w500 {width:500px; }
.w100 {width:100px; }
.w200 {width:200px; }

.tline{border-bottom:solid 1px gray; margin-bottom: 20px;}

.board-box{
    padding-top: 200px;
    padding-bottom: 100px;
}
